.footer__links {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 18px;
}

@media all and (max-width: 767px) {

    .footer__links {
        grid-auto-flow: row;
        grid-gap: 32px;
    }
}