.intro {
    padding: 92px 394px 0 100px;
    max-width: 690px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

@media all and (min-width: 1024px) and (max-width: 1279px) {

    .intro {
        padding: 92px 286px 0 48px;
    }
}

@media all and (min-width: 768px) and (max-width: 1023px) {

    .intro {
        padding: 88px 24px 0;
        max-width: 720px;
    }
}

@media all and (max-width: 767px) {

    .intro {
        margin: 0 auto;
        padding: 64px 16px 0;
        max-width: 288px;
    }
}