.cover {
    margin: 92px 0 0;
    position: relative;
    background-image: url(../../images/cover-trains.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-self: normal;
}

.cover:after {
    content: "";
    width: 0;
    height: 0;
    padding-top: calc(740 / 1184 * 100%); 
}
  
  .cover:hover .cover__overlay {
      opacity: 0.8;
}

@media all and (min-width: 768px) and (max-width: 1023px) {

    .cover {
        margin: 90px 0 0;
    }
}

@media all and (max-width: 767px) {

    .cover {
        margin: 66px 0 0;
    }
}
