.photo-grid__items {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 284px);
    grid-auto-flow: row;
    justify-content: center;
    gap: 16px;
}