@import url(../vendor/normalize.css);

@import url(../fonts/inter.css);

@import url(../blocks/root/root.css);

@import url(../blocks/header/header.css);

@import url(../blocks/header/__logo/header__logo.css);

@import url(../blocks/header/__lang-links/header__lang-links.css);

@import url(../blocks/header/__lang-link/header__lang-link.css);

@import url(../blocks/header/__lang-link/_active/header__lang-link_active.css);

@import url(../blocks/main/main.css);

@import url(../blocks/lead/lead.css);

@import url(../blocks/lead/__title/lead__title.css);

@import url(../blocks/lead/__subtitle/lead__subtitle.css);

@import url(../blocks/lead/__image/lead__image.css);

@import url(../blocks/lead/__caption/lead__caption.css);

@import url(../blocks/intro/intro.css);

@import url(../blocks/intro/__title/intro__title.css);

@import url(../blocks/intro/__text/intro__text.css);

@import url(../blocks/intro/__list/intro__list.css);

@import url(../blocks/intro/__span-accent/intro__span-accent.css);

@import url(../blocks/photo-grid/photo-grid.css);

@import url(../blocks/photo-grid/__item/photo-grid__item.css);

@import url(../blocks/places/places.css);

@import url(../blocks/places/__place/places__place.css);

@import url(../blocks/places/__title/places__title.css);

@import url(../blocks/places/__website/places__website.css);

@import url(../blocks/places/__image/places__image.css);

@import url(../blocks/places/__url-heading/places__url-heading.css);

@import url(../blocks/places/__link/places__link.css);

@import url(../blocks/places/__paragraph/places__paragraph.css);

@import url(../blocks/cover/cover.css);

@import url(../blocks/cover/__link/cover__link.css);

@import url(../blocks/cover/__title/cover__title.css);

@import url(../blocks/cover/__subtitle/cover__subtitle.css);

@import url(../blocks/cover/__overlay/cover__overlay.css);

@import url(../blocks/footer/footer.css);

@import url(../blocks/footer/__links/footer__links.css);

@import url(../blocks/footer/__link/footer__link.css);

@import url(../blocks/footer/__copyright/footer__copyright.css);

@media all and (min-width: 1024px) and (max-width: 1279px) {
    
    .main {
        max-width: 1024px;
    }

    .lead {
        margin: 48px 48px 0;
        max-width: 928px;
    }
    
    .intro {
        margin: 92px 286px 0 48px;
    }

    .photo-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 14px;
    }

    .places__place {
        column-gap: 32px;
    }

    .places__image {
        max-width: 440px;
    }

    .places__paragraphs {
        max-width: 456px;
    }

    .cover {
        margin: 92px 0 0;
        width: 1024px;
        min-height: 640px;
    }

    .footer {
        margin: 92px 48px 24px;
    }
}

@media all and (max-width: 1023px) {

    .lead {
        margin: 48px 0 0;
    }
}

@media all and (min-width: 768px) and (max-width: 1023px) {
    
    .header {
        margin: 28px 24px 0; 
    }

    .main {
        max-width: 768px;
    }

    .lead__subtitle {
        margin: 32px auto 56px;
    }
    
    .lead__caption {
      margin: 8px 0 0 24px;
    }

    .intro {
        margin: 88px 24px 0;
    }

    .photo-grid {
        margin: 88px 24px 0;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        gap: 16px;
    }

    .places {
        margin: 88px 24px 0;
        gap: 73px;
    }

    .places__place {
        column-gap: 28px;
        grid-template-columns: 340px 1fr;
        grid-template-rows: repeat(2, auto);
        max-width: 720px;
    }

    .places__title {
        font-size: 42px;
        line-height: 46px;
        align-self: end;
    }

    .places__image {
        max-width: 340px;
    }
    
    .places__paragraph {
        font-size: 16px;
        line-height: 28.08px;
    }

    .cover {
        margin: 90px 0 0;
        width: 768px;
        min-height: 480px;
    }

    .footer {
        margin: 88px 24px 24px;
    }
}

@media all and (max-width: 767px) {
    
    .header {
        margin: 16px 16px 0;
    }

    .header__lang-link {
        font-size: 18px;
        line-height: 20px;
    }

    .header__logo {
        width: 142px;
        height: 42px;
    }

    .main {
        display: flex;
        flex-direction: column;
        max-width: 320px;
        margin: auto;
    }

    .lead__title {
        max-width: 288px;
        font-size: 40px;
        line-height: 44px;
    }

    .lead__subtitle {
        margin: 16px 0 40px;
        max-width: 288px;
        font-size: 16px;
        line-height: 20px;
    }

    .lead__caption {
        margin: 8px 0 0 16px;
    }

    .intro {
        margin: 64px 16px 0;
    }
    
    .intro__title {
        font-size: 32px;
        line-height: 35px;
    }

    .photo-grid {
        margin: 64px 16px 0;
        grid-template-columns: 1fr;
        gap: 12px;
    }

    .places {
        margin: 64px 0 0;
        gap: 50px;
    }

    .places__place {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(auto-fill, 1fr);
        row-gap: 32px;
    }

    .places__title {
        font-size: 32px;
        line-height: 35px;
    }
    
    .places__image {
        max-width: 320px;
    }

    .places__paragraphs {
        max-width: 288px;
    }

    .places__paragraph {
        font-size: 16px;
        line-height: 26.8px;
    }

    .cover {
        margin: 66px 0 0;
        width: 320px;
        min-height: 200px;
    }

    .cover__title {
        width: 288px;
        font-size: 32px;
        line-height: 36px;
    }

    .cover__subtitle {
        margin-top: 16px;
        width: 288px;
        font-size: 14px;
        line-height: 16px;
    }

    .footer {
        max-width: 320px;
        flex-direction: column;
        margin: 64px auto 0;
        padding: 0 0 16px;
    }

    .footer__links {
        grid-auto-flow: row;
        grid-gap: 32px;
    }

    .footer__link {
        font-size: 24px;
        line-height: 24px;
    }

    .footer__copyright {
        margin-top: 48px;
        line-height: 14px;
    }
}
